.contactList {
    background-color: var(--clr-white);
    max-height: 240px;
    overflow: scroll;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-allaround);
    padding-top: 14px;
    position: absolute;
    top: calc(24px + 0.5rem + 40px - 14px);
    left: 0;
    right: 0;
    z-index: 1000;

    &__contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        padding-inline: var(--space-sm);
        border-radius: var(--radius-md);

        &:hover {
            background-color: var(--clr-tinted-grey);
            cursor: pointer;
        }

        &--selected {
            background-color: var(--clr-blue-dark);
            color: var(--text-color-ultralight);

            &:hover {
                background-color: var(--clr-blue-muted);
            }
        }

        &__profileIcon {
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__name {
            width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__checkbox {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}