@use '../../../../styles/abstracts/mixins' as *;

.custom-btn {
    @include flexbox(row, center, center, 10px); 
    width: 352px;
    height: 56px;
    padding: 12px var(--space-md); 

    font-size: 21px;     
    font-weight: var(--fw-bold);             
    line-height: var(--lh-heading);          
    color: var(--text-color-ultralight) !important; 
    
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-dark);        
    border-radius: 10px;                     
    cursor: pointer;

    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;

    &:hover {
        background-color: var(--bg-special);
        border-color: var(--bg-special);
    }

    &:active {
        background-color: var(--clr-blue-dark); 
        border-color: var(--clr-blue-dark);
    }

    &:disabled {
        background-color: var(--clr-feedback-disabled);
        border-color: var(--clr-feedback-disabled);
        color: var(--text-color-light) !important;
        cursor: not-allowed;
        pointer-events: none;
    }
}

::ng-deep svg {
    display: block;
    flex-shrink: 0;
}
