
/*unten von contact-add-new-contact-dialog-html*/

/* Success Message:
   kommt von rechts, bleibt kurz sichtbar
   und fliegt wieder nach rechts raus (800 ms gesamt) */
.success-message {
  position: fixed;
  right: 31.5rem;
  bottom: 2.2rem;
  z-index: 1000;

  width: 326px;
  height: 74px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-muted);
  color: var(--text-color-ultralight);

  font-size: var(--fs-body-normal);
  font-weight: var(--fw-regular);

  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-allaround);

  /* Desktop-Animation:
     von rechts rein und wieder nach rechts raus */
  animation: success-message-animation 800ms ease-in-out forwards;


    @include respond-to(xl) {
    right: 29rem;
  }

    @include respond-to(lg) {
    right: 16.7rem; // kleinerer Wert = weiter nach rechts
  }

  /* Responsive:
    Animation von rechts nach links wechselt zu von unten nach oben bei md=768px
     right deaktivieren
     left: 50% = Success Message horizontal mittig ausrichten (X-Achse)
     bottom: 12rem = Abstand zum unteren Bildschirmrand (ggf. noch testen)
     width: calc(100% - 2rem) = fast volle Breite,
     links und rechts bleibt jeweils ca. 1rem Abstand
     Mobile-Animation: von unten rein und wieder nach unten raus
     800ms auch bei Responsive! */
  @include respond-to(md) {
    right: auto;
    left: 50%;
    bottom: 13.1rem;

    width: calc(100% - 2rem);

    animation: success-message-animation-mobile 800ms ease-in-out forwards;
  }
}

/* Desktop:
   von rechts einblenden,
   kurz stehen bleiben,
   wieder nach rechts ausblenden */
@keyframes success-message-animation {
  0% {
    transform: translateX(calc(100% + 2rem));
    opacity: 0;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  80% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(calc(100% + 2rem));
    opacity: 0;
  }
}

/* Responsive:
   von unten einblenden,
   kurz stehen bleiben,
   wieder nach unten ausblenden */
@keyframes success-message-animation-mobile {
  0% {
    /* -50% = horizontal mittig halten
       calc(100% + 2rem) = unterhalb der Endposition starten und dann danach reinfliegen! */
    transform: translate(-50%, calc(100% + 2rem));
    opacity: 0;
  }

  20% {
    /* normale Position erreicht */
    transform: translate(-50%, 0);
    opacity: 1;
  }

  80% {
    /* kurz sichtbar bleiben */
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100% {
    /* wieder nach unten verschwinden */
    transform: translate(-50%, calc(100% + 2rem));
    opacity: 0;
  }
}





  