@use 'variables' as *;

@mixin flexbox($flexDirection, $justifyContent, $alignItems, $gap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}

@mixin grid-auto($minWidth, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minWidth, 1fr));
  gap: $gap;
}

@mixin global_content_wrapper() {
  max-width: var(--container-content-md);
  width: 100%;
  padding-inline: clamp(var(--space-lg), 5vw, var(--space-2xl));
  box-sizing: border-box;
}

@mixin respond-to($size) {
  @if $size == xxl {
    @media (max-width: $breakpoint-xxl) {
      @content;
    }
  } @else if $size == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  } @else if $size == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $size == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $size == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == xsm {
    @media (max-width: $breakpoint-xsm) {
      @content;
    }
  } @else {
    @error "Unbekannter Breakpoint: #{$size}.";
  }

  
}

/*breakpoint 622* also in variables defined*/

@mixin landscape-mobile {
  @media (max-height: $breakpoint-rotate) {
    @content;
  }
}
