<dialog #dialog class="add-task-dialog" (click)="closeDialog()">
  <div class="add-task-dialog__content" (click)="$event.stopPropagation()">
    <!-- HEADER -->
    <header class="add-task-dialog__header">
      <button class="add-task-dialog__close-btn" (click)="closeDialog()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
        </svg>
      </button>
    </header>

    <!-- BODY (Scroll Area) -->
    <div class="add-task-dialog__body">
      <app-add-task [task]="currentTask" (taskSaved)="closeDialog()" [columnId]="currentColumnId"></app-add-task>
    </div>

    <!-- FOOTER -->
    @if (currentTask) {
    <footer class="add-task-dialog__footer">
      <app-button text="Ok" variant="primary" size="md" buttonType="button" (btnClick)="saveTask()" class="createTaskBtn">
        <svg width="18" height="18" viewBox="0 0 37 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.5 14.566L14.7288 25.6321L33.4434 3.5" stroke="white" stroke-width="3" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </app-button>
    </footer>
    }
  </div>
</dialog>