@use '../../../styles/abstracts/mixins' as *;

.contact-details-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  opacity: 0;                                 
  transform: translateX(100%);                
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 

  &.show {
    opacity: 1;
    transform: translateX(0);                 
  }
}

.details-profile-header {
  @include flexbox(row, flex-start, center, var(--space-xl));
  margin-bottom: var(--space-2xl); 
}

.large-avatar {
  @include flexbox(row, center, center, 0);
  width: 120px;
  height: 120px;
  border-radius: var(--radius-pill);
  border: 3px solid var(--bg-ultralight);
  color: var(--text-color-ultralight);
  font-size: var(--fs-h2); 
  font-weight: var(--fw-bold);
  box-shadow: var(--shadow-allaround);
}

.profile-name-actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  .profile-name {
    font-size: var(--fs-h3); 
    font-weight: var(--fw-bold);
    color: var(--text-color-dark);
    margin-bottom: 0;
  }
}

.action-buttons {
  @include flexbox(row, flex-start, center, var(--space-md)); 

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: var(--ff-body);
    font-size: var(--fs-body-normal);
    color: var(--text-color-dark);
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-sm);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--bg-light); 
    }
  }
}
