@use '../../../styles/abstracts/mixins' as *;

.contacts-layout {
    @include flexbox(row, flex-start, stretch, 55px);
    width: 100%;
    min-height: calc(100vh - 96px); 
    box-sizing: border-box;
    background-color: var(--bg-light); 

    @include respond-to(lg) {
        gap: 0; 
    }
}

app-contacts-list {
    flex-shrink: 0;
    height: calc(100vh - 96px); 
    position: sticky; 
    top: 96px; 
    display: flex;
    flex-direction: column; 

    @include respond-to(lg) {
        width: 100%;

        .contacts-layout--has-contact & {
            display: none !important;
        }
    }
}

app-contacts-detail {
    flex: 1;
    height: auto; 
    min-width: 0;

    @include respond-to(lg) {
        width: 100%;
        display: none; 

        .contacts-layout--has-contact & {
            display: flex !important;
        }
    }
}
