@use '../../../../../styles/abstracts/mixins' as *;

.formDetail {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);

    &__inputWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            height: 24px;
        }

        input {
            border-radius: var(--radius-md);
            border: 1px solid var(--border-clr-light);
            height: 40px;
            width: 100%;
            padding-inline: var(--space-md);
        }

        select {
            border-radius: var(--radius-md);
            border: 1px solid var(--border-clr-light);
            height: 40px;
            width: 100%;
            padding-inline: var(--space-md);
            position: relative;

            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: white;

            &:hover {
                cursor: pointer;
            }
        }

        &__iconOverlay {
            height: 40px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: var(--space-md);
            position: absolute;
            top: calc(0.5rem + 24px);
            z-index: 1002;

            &:hover {
                cursor: pointer;
            }

            &__icon {
                height: 28px;
                width: 28px;
                border-radius: var(--radius-pill);
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: var(--clr-feedback-disabled);
                    cursor: pointer;
                }

                svg {
                    transform: rotate(180deg);
                }
            }

        }

        &__prioButtons {
            display: flex;
            justify-content: space-between;

            &__icon {
                height: auto;
                display: block;
                flex-shrink: 0;
            }

        }
    }
}

#assignedTo {
    z-index: 1001;
}

.urgent {
    color: var(--clr-feedback-urgent);
}

.medium {
    color: var(--clr-feedback-medium)
}

.low {
    color: var(--clr-feedback-low)
}

.btn {
    --btn-primary-color: var(--clr-black);
    --btn-primary-color-hover: var(--clr-white);

    --btn-primary-bg: var(--clr-white);
    --btn-primary-border: none;

    --btn-font-size: 16px;
    --btn-height: 40px;

    &__urgent {
        --btn-primary-hover-bg: var(--clr-feedback-urgent);
        --btn-primary-hover-border: var(--clr-feedback-urgent);

        --btn-primary-active-bg: var(--clr-feedback-urgent);

        &:hover ::ng-deep .urgent {
            color: var(--clr-white);
        }
    }

    &__medium {
        --btn-primary-hover-bg: var(--clr-feedback-medium);
        --btn-primary-hover-border: var(--clr-feedback-medium);

        --btn-primary-active-bg: var(--clr-feedback-medium);

        &:hover ::ng-deep .medium {
            color: var(--clr-white);
        }
    }

    &__low {
        --btn-primary-hover-bg: var(--clr-feedback-low);
        --btn-primary-hover-border: var(--clr-feedback-low);

        --btn-primary-active-bg: var(--clr-feedback-low);

        &:hover ::ng-deep .low {
            color: var(--clr-white);
        }
    }
}

:host ::ng-deep .btn__urgent:hover .urgent,
:host ::ng-deep .btn__urgent.urgent__selected .urgent,
:host ::ng-deep .btn__medium:hover .medium,
:host ::ng-deep .btn__medium.medium__selected .medium,
:host ::ng-deep .btn__low:hover .low,
:host ::ng-deep .btn__low.low__selected .low {
    color: var(--clr-white);
}

.urgent__selected {
    --btn-primary-color: var(--clr-white);
    --btn-primary-bg: var(--clr-feedback-urgent);

    --btn-primary-hover-bg: var(--clr-feedback-urgent);
    --btn-primary-hover-border: var(--clr-feedback-urgent);
}

.medium__selected {
    --btn-primary-color: var(--clr-white);
    --btn-primary-bg: var(--clr-feedback-medium);

    --btn-primary-hover-bg: var(--clr-feedback-medium);
    --btn-primary-hover-border: var(--clr-feedback-medium);
}

.low__selected {
    --btn-primary-color: var(--clr-white);
    --btn-primary-bg: var(--clr-feedback-low);

    --btn-primary-hover-bg: var(--clr-feedback-low);
    --btn-primary-hover-border: var(--clr-feedback-low);
}

.requiredInput {
    color: var(--clr-feedback-error)
}

app-button {
    max-width: 31%;
    min-width: 31%;
    font-weight: var(--fw-regular);
}

app-contact-selection {
    position: absolute;
    top: calc(24px + 0.5rem + 40px - 14px);
    left: 0;
    right: 0;
    z-index: 1000;
}

.contact_dropdown {
    display: none;

    &.active {
        display: block;
    }
}