@use '../../../styles/abstracts/mixins' as *;

.board {
  @include global_content_wrapper();
  background-color: var(--bg-light);

  &__header {
    @include flexbox(row, space-between, center, 1rem);
    padding-top: var(--space-2xl);
  }

  &__column-title {
    @include respond-to(xl) {
      font-size: var(--fs-body-medium);
    }
  }

  &__interaction {
    @include flexbox(row, space-between, center, 2rem);
  }

  &__search {
    height: 3.5rem;
    border-radius: var(--radius-md);
    padding-inline: var(--space-md);
    font-size: var(--fs-body-large);
  }

  &__column-header {
    @include flexbox(row, space-between, center, 1rem);
    padding-block: var(--space-md);
  }

  &__column-title {
    line-height: 28px;
    margin: 0;
    color: var(--text-color-dark);
  }

  &__add-btn {
    @include flexbox(row, center, center, 0);
    text-decoration: none;
    cursor: pointer;
    border: none;
  }

  &__content {
    @include flexbox(row, space-between, stretch, 2rem);
  }

  &__column {
    max-width: 16rem;
    width: 100%;
    min-width: 10rem;
  }

  &__task-list {
    @include flexbox(column, flex-start, stretch, 1rem);
    list-style-type: none;
    padding: 0;
    min-height: calc(100vh - 250px);
  }

  &__task {
    text-align: left;
  }

  &__empty-state {
    @include flexbox(row, center, center, 0);
    color: var(--text-color-dark);
    background-color: var(--clr-feedback-disabled);
    height: 3.5rem;
    width: 100%;
    border: 2px dashed var(--border-clr-dark);
    border-radius: var(--radius-md);

    margin-top: 0;
    align-self: flex-start;
  }

  &__empty-short {
    display: none;

    @include respond-to(xl) {
      display: inline;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: var(--radius-lg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  cursor: grabbing;
}

.cdk-drag-placeholder {
  opacity: 0.2;
  border: 2px dashed var(--border-clr-dark);
  border-radius: var(--radius-lg);
  min-height: 150px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board__task-list.cdk-drop-list-dragging .board__task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board__task {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
