@use '../../../styles/abstracts/mixins' as *;

.sidebar {
  @include flexbox(column, space-between, center, 0);
  background-color: var(--bg-muted);
  color: var(--text-color-ultralight);
  width: 232px;
  min-height: 100vh;
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-xl);
  z-index: 999;

  @include respond-to(md) {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: unset;
    height: auto;
    padding: var(--space-xs) 0;
  }

  &__logo-container {
    margin-bottom: var(--space-4xl);

    @include respond-to(md) {
      display: none;
    }
  }

  &__logo {
    width: 100px;
  }

  &__nav {
    @include flexbox(column, flex-start, stretch, var(--space-sm));
    width: 100%;
    flex-grow: 1;

    @include respond-to(md) {
      @include flexbox(row, space-around, center, 0);
      flex-grow: unset;
    }
  }

  &__link {
    @include flexbox(row, flex-start, center, var(--space-md));
    padding: var(--space-sm) var(--space-2xl);
    color: var(--text-color-light);
    text-decoration: none;

    @include respond-to(md) {
      @include flexbox(column, center, center, var(--space-xs));
      padding: var(--space-xs) 5px;

      border-radius: var(--radius-lg);
      min-width: 80px;
      min-height: 80px;
    }

    &:hover {
      background-color: var(--clr-blue-dark-muted);
    }

    &.active {
      background-color: var(--bg-dark);
      color: var(--text-color-ultralight);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__legal {
    @include flexbox(column, center, center, var(--space-sm));
    width: 100%;

    @include respond-to(md) {
      display: none;
    }
  }

  &__legal-link {
    color: var(--text-color-light);
    font-size: var(--fs-body-normal);

    &:hover {
      color: var(--text-color-special);
    }
  }
}
